<!DOCTYPE html>
<html>
<head>
  <title>In120161227</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= session.inspect %>
<br />
<br />
Hello from application.html.erb!
<br />
<%= session['omniauth.pocket.token'] %>
<%= yield %>

</body>
</html>
